<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/user">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/regions">Regions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/regions/create-region">Create Region</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>